<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <!--内容-->
    <div>
        <!--左边内容-->
        <div class="layui-col-md9" style="margin-top: 5px">
            <div style="margin-top: 2px;margin-right: 5px">
                <blockquote class="layui-elem-quote" style="border-color: #1e9fff">
                    <strong><i class="layui-icon layui-icon-component" style="font-size: 16px">系统介绍</i></strong>
                    <hr class="layui-bg-blue">
                    <p>
                    <h2>电子资源分享系统</h2>
                    <p>电子资源分享系统是一个开放平台，用户可以在此上传、下载和分享各种类型的电子资源，包括文档、图片、音视频等。平台旨在提供一个便捷的资源交流渠道，促进知识共享和交流。</p>
                    <p>主要功能：</p>
                    <ul>
                        <li>资源上传：用户可以将自己的电子资源上传到平台，与他人分享。</li>
                        <li>资源下载：用户可以浏览和下载平台上的共享资源。</li>
                        <li>资源搜索：提供强大的搜索功能，帮助用户快速找到所需资源。</li>
                        <li>用户管理：支持用户注册、登录及个人信息管理。</li>
                    </ul>
                </blockquote>
            </div>
        </div>
        <!--右边内容-->
        <div class="layui-col-md3" style="margin-top: 7px">
            <blockquote class="layui-elem-quote" style="border-color: #1e9fff">
                <strong><i class="layui-icon layui-icon-fire" style="font-size: 16px">热门资源</i></strong>
                <hr class="layui-bg-blue">
                <div th:each="articleHot:${application.articleListHot}">
                    <p><a style="color: #1e9fff" th:href="@{'/article/'+${articleHot.id}}" th:text="${#strings.abbreviate(articleHot.name,20)}"
                          th:title="${articleHot.name}"></a></p>
                </div>
            </blockquote>
        </div>
        <!--友情链接-->
        <div class="layui-col-md12">
            <blockquote class="layui-elem-quote" style="border-color: #1e9fff">
                <strong><i class="layui-icon layui-icon-link" style="font-size: 16px">友情链接</i></strong>
                <hr class="layui-bg-blue">
                <div th:each="link:${application.linkList}">
                    <a th:href="${link.url}" th:text="${link.name+'&nbsp;&nbsp;'}" style="float: left;color: #1e9fff"></a>
                </div>
                <span style="color: #f2f2f2">1</span>
            </blockquote>
        </div>
    </div>
</div>
</body>
</html>
