<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div>
        <div class="layui-col-md3">
            <div th:include="common/menuLeft::#m"></div>
        </div>
        <div class="layui-col-md9">
            <div style="margin-top: 24px">
                <p class="layui-breadcrumb">
                    <i class="layui-icon layui-icon-location">当前位置：</i>
                    <a href="">首页</a>
                    <a href="/toUserBackstagePage">个人中心</a>
                    <a><cite>个人信息</cite></a>
                </p>
                <label class="layui-form-label" style="margin-top: 33px">用户名:</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input"
                           disabled="disabled" lay-verify="title" required="required" style="width: 388px;border-color: gray;margin-top: 33px"
                           th:value="${session.currentUser.userName}" type="text">
                </div>
                <label class="layui-form-label" style="margin-top: 12px">昵称:</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input"
                           disabled="disabled" lay-verify="title" required="required" style="width: 388px;border-color: gray;margin-top: 12px"
                           th:value="${session.currentUser.nickName}" type="text">
                </div>
                <label class="layui-form-label" style="margin-top: 12px">个人邮箱:</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input"
                           disabled="disabled" required="required"
                           style="width: 388px;border-color: gray;margin-top: 12px" th:value="${session.currentUser.email}" type="text">
                </div>
                <label class="layui-form-label" style="margin-top: 12px">剩余积分:</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input"
                           disabled="disabled" required="required"
                           style="width: 388px;border-color: gray;margin-top: 12px" th:value="${session.currentUser.points}" type="text">
                </div>
                <label class="layui-form-label" style="margin-top: 12px">用户身份:</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input"
                           disabled="disabled" required="required"
                           style="width: 388px;border-color: gray;margin-top: 12px" th:value="${session.currentUser.roleName}" type="text">
                </div>
                <div class="layui-input-block">
                    <a href="/toPersonMessageUpdatePage">
                        <button class="layui-btn layui-btn-normal" lay-filter="demo1" lay-submit="" style="margin-top: 12px"
                                type="button">修改
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>